<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <style>
      @keyframes running-text {
        from {
          margin-left: 100%;
        }
        to {
          margin-left: 0%;
        }
      }
      h1.running {
        animation: running-text 10s linear infinite;
          color: red;
      }

    </style>
  </head>
  <body>
    <h1 class="running"> Con nghiện hải dương!!!!!!!!!!</h1>

    <img src="../static/namlol.jpg" alt="Python Image" width="500" height="500">
  </body>